extends /_include/_layout-base.pug


block var
  -
    var page = {
      url : 'https://overactive1988.github.io/HexSchool_webslicinglesson2020/week03/faq',
      title : '第三週 - RWD 網站 FAQ | leolee',
      description : 'FAQ',
      keywords : '',
      htmlClass: '',
      ogp: {
        image : 'https://overactive1988.github.io/lesson3/images/og_image.jpg'
      },
    };


block append css
block content
    main
      .mv
        .container.mv__wrap
          h1.mv__title
            span Promise-Desert 2020 早春系列
            | 看得清，才能看得遠
      section
      section
      section