extends /_include/_layout-base.pug


block var
  -
    var page = {
      url : 'https://overactive1988.github.io/HexSchool_webslicinglesson2020/week03/faq',
      title : '第三週 - RWD 網站 FAQ | leolee',
      description : 'FAQ',
      keywords : '',
      htmlClass: '',
      ogp: {
        image : 'https://overactive1988.github.io/HexSchool_webslicinglesson2020/week03/assets/images/og_image.jpg'
      },
    };


block append css
block content
    main.faq
      .topbanner__mv
        .container
          .topbanner__title
            h1 常見問題
              img.qa--icon(src="../assets/images/faq/icon-help.svg", alt="")

      section.faq__main
        .container

          h2.faq__section__title.black__color 我想詢問配鏡問題

          .qa
            dl
              dt Q1.請問可否自備鏡框單配鏡片？
              dd A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

            dl
              dt Q2.眼鏡都可以20分鐘取件嗎？
              dd A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

            dl
              dt Q3.散光鏡片需要額外加價嗎？
              dd A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

            dl
              dt Q4.我可以使用舊眼鏡的度數配鏡片嗎？
              dd A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。

            dl
              dt Q5.請問可以單購買鏡框嗎？
              dd A1.我牌鏡框搭配薄型非球面鏡片1480元，搭配功能型鏡片則依鏡片種類加價購買。<br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片980元(隔日後則為1480元)，搭配功能型鏡片則依鏡片種類加價購買。<br>他牌鏡框，搭配薄型非球面鏡片1980元，搭配功能型鏡片則依鏡片種類加價購買。
