@charset "utf-8";
@import "_include/_reset.css";
html {
    font-size: 10px;
}


/* 共同設定 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* 共同設定 */

a {
    color: #fff;
    text-decoration: none;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        transition: opacity 0.3s;
    }
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.bg-primary {
    background: #aa0601;
}


/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8.8rem;
    @media (--tb) {
        padding: 3rem 3.9rem;
    }
    @media (--sp) {
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
}

.logo {
    @media (--sp) {
        margin: 0 auto;
        padding: 1rem 0;
        & img {
            width: 48px;
        }
    }
}

.header__menu {
    @media (--sp) {
        width: 100%;
    }
}

.header__link {
    display: flex;
    justify-content: space-between;
    @media (--sp) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
    & li {
        padding-right: 6.4rem;
        @media (--tb) {
            padding-right: 4rem;
        }
        @media (--sp) {
            width: 50%;
            padding: 0;
            border: 1px solid #fff;
            &:nth-child(even) {
                border-right: none;
            }
            &:nth-child(odd) {
                border-left: none;
            }
        }
        & a {
            color: #fff;
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.8rem;
            text-decoration: none;
            @media (--sp) {
                display: block;
                padding: 0.8rem 3.2rem;
            }
        }
        &:last-child {
            padding-right: 0;
        }
    }
}


/* header */


/* footer */

.footer__header {
    display: flex;
    justify-content: space-between;
    padding: 3.6rem 0 1.8rem;
}

.footer__link {
    display: flex;
    align-items: center;
    & li {
        padding-right: 4.8rem;
        &:last-child {
            padding-right: 0;
        }
    }
    & a {
        font-size: 1.6rem;
    }
}

.footer__sns {
    display: flex;
    & li {
        padding-right: 3.2rem;
        &:last-child {
            padding-right: 0;
        }
    }
}

.footer__contact {
    & li {
        line-height: 4.8rem;
    }
    & a {
        display: inline-flex;
        align-items: center;
        font-size: 3.6rem;
        & img {
            width: 48px;
            margin-right: 20px;
        }
    }
}

.footer__others {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.4rem;
    padding-bottom: 2.9rem;
    border-top: 1px solid #fff;
}

.copyright {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    & small {
        padding-left: 3.8rem;
    }
}

.policy {
    display: flex;
    & li {
        padding-right: 6.2rem;
        font-size: 1.4rem;
        &:last-child {
            padding-right: 0;
        }
    }
}


/* footer */