.blog__title {
  display: none;
}
.blog__header {
  padding: 1.2rem 0 1.4rem;
  color: #fff;
  @media (--sp) {
    display: none;
  }
  background: var(--color-primary-dark);
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.blog__nav {
  display: flex;
  font-size: 2rem;
  @media (--tb) {
    font-size: 1.6rem;
  }
  & li {
    padding-right: 4.8rem;
    @media (--tb) {
      padding-right: 3.2rem;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.blog__search {
  display: flex;
  &:hover {
    & input {
      opacity: 1;
    }
  }
  & input {
    opacity: 0;
    transition: opacity 0.3s;
  }
  & button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.blog__wrap {
  padding-top: 8.2rem;
  padding-bottom: 15.6rem;
  @media (--tb) {
    padding-top: 4rem;
    padding-bottom: 10.4rem;
  }
  @media (--sp) {
    padding-top: 3.2rem;
    padding-bottom: 5.6rem;
  }
}
.blog__list {
  padding-bottom: 4rem;
  @media (--tb) {
    padding-bottom: 7.2rem;
  }
  @media (--sp) {
    padding-bottom: 1.3rem;
  }
}
.blog__item {
  padding-bottom: 6rem;
  @media (--tb) {
    padding-bottom: 3.2rem;
  }
  @media (--sp) {
    padding-bottom: 2.6rem;
  }
  & a {
    display: flex;
    color: #000;
    @media (--sp) {
      display: block;
    }
  }
}
.blog__img {
  flex: 1 1 55%;
  height: 400px;
  @media (--sptb) {
    flex: 1 1 45%;
    height: 192px;
  }
}
.blog__img--01 {
  background: url(../images/blog/blog01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.blog__img--02 {
  background: url(../images/blog/blog02.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.blog__img--03 {
  background: url(../images/blog/blog03.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.blog__img--04 {
  background: url(../images/blog/blog04.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.blog__img--05 {
  background: url(../images/blog/blog05.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.blog__card {
  position: relative;
  flex: 1 1 45%;
  padding-left: 3rem;
  @media (--tb) {
    padding-right: 0.8rem;
  }
  @media (--sp) {
    padding-top: 0.8rem;
    padding-left: 0;
  }
}
.blog__card__title {
  padding-bottom: 2.4rem;
  @media (--tb) {
    padding-bottom: 1.6rem;
  }
  @media (--sp) {
    padding-bottom: 0;
  }
  & h2 {
    color: var(--color-primary-dark);
    font-size: 3.2rem;
    line-height: 1.4;
    @media (--tb) {
      font-size: 2rem;
    }
    @media (--sp) {
      font-size: 1.6rem;
    }
  }
  & span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    font-size: 2rem;
    @media (--tb) {
      font-size: 1.6rem;
    }
    @media (--sp) {
      font-size: 1.4rem;
    }
  }
  & time {
    font-size: 1.6rem;
    opacity: 0.7;
    @media (--sptb) {
      font-size: 1.4rem;
    }
  }
}
.blog__card__body {
  color: #555555;
  font-size: 2rem;
  @media (--tb) {
    font-size: 1.4rem;
  }
  @media (--sp) {
    display: none;
  }
  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--color-primary-dark);
    font-weight: bold;
    font-size: 3.6rem;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    content: "more";
    @media (--tb) {
      display: none;
    }
  }
  & p {
    position: relative;
    font-feature-settings: "palt";
    &::after {
      top: 1.3em;
      right: 0;
      width: 1em;
      padding-left: 0.1em;
      line-height: 1.3em;
      content: "……";
      @media (--tb) {
        color: #555555;
        font-weight: bold;
        font-size: 1.4rem;
        text-transform: lowercase;
        background-color: #fff;
        content: "……more";
      }
    }
  }
}

.breadcrumb_inner {
  padding-top: 0.8rem;
  & ul {
    display: inline-flex;
    font-size: 1.6rem;
    @media (--sptb) {
      font-size: 1.4rem;
    }
  }
  & li {
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      padding: 0 1rem;
      font-weight: bold;
      font-size: 1.3rem;
      content: "/";
    }
  }
  & a {
    color: #000;
  }
}
.current {
  color: var(--color-primary);
  &::after {
    display: none;
  }
}
.blog--contents__wrap {
  display: flex;
  padding-top: 1.7rem;
  @media (--tb) {
    padding-top: 0.8rem;
  }
  @media (--sp) {
    display: block;
    padding-top: 0.6rem;
    padding-bottom: 5.6rem;
  }
}
.contents__head {
  & h2 {
    color: #000;
    font-size: 4.8rem;
    @media (--tb) {
      font-size: 3.2rem;
    }
    @media (--sp) {
      color: var(--color-primary);
      font-size: 2rem;
    }
  }
  & span {
    font-size: 2.8rem;
    @media (--sp) {
      font-size: 1.4rem;
    }
  }
  & .blog__card__title {
    padding-bottom: 1.9rem;
  }
}

.contents__main {
  flex: 1 1 74.3%;
  @media (--tb) {
  }
}
.contents__body {
  & p {
    padding-top: 2.4rem;
    padding-bottom: 3.6rem;
    font-weight: bold;
    font-size: 2rem;
    opacity: 0.7;
    @media (--sptb) {
      padding-top: 1.6rem;
      padding-bottom: 2.4rem;
      font-size: 1.6rem;
    }
  }
}
.tags {
  flex: 1 1 25.6%;
  padding-left: 3rem;
  @media (--sp) {
    width: 300px;
    padding-left: 0;
    & .tags__item li {
      padding-right: 0.8rem;
    }
    & .tags__item a {
      font-size: 1.6rem;
    }
  }
}
.tags__title {
  display: flex;
  align-items: center;
  color: #aa0601;
  font-weight: bold;
  font-size: 2.8rem;
  @media (--sptb) {
    font-size: 2rem;
    & img {
      width: 24px;
    }
  }
  & p {
    padding-left: 0.8rem;
  }
}
.tags__item {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  & li {
    padding-right: 2.4rem;
    @media (--tb) {
      padding-right: 1.6rem;
    }
    @media (--sp) {
      padding-right: 0.4rem;
      &:nth-child(3) {
        order: 3;
      }
      &:nth-child(4) {
        order: 4;
      }
      &:nth-child(5) {
        order: 1;
      }
      &:nth-child(6) {
        order: 0;
      }
      &:nth-child(7) {
        order: 2;
      }
    }
  }
  & a {
    position: relative;
    margin-bottom: 1.8rem;
    color: #aa0601;
    font-size: 2.4rem;
    @media (--tb) {
      font-size: 1.6rem;
    }
    @media (--sp) {
      font-size: 1.4rem;
    }
  }
}
.contents__footer {
  & .contents__pagenation {
    display: none;
    @media (--sp) {
      display: block;
      padding-top: 0.8rem;
      padding-bottom: 3.9rem;
    }
  }
}
.share {
  display: flex;
  padding-bottom: 1.6rem;
  font-weight: 700;
  & p {
    display: flex;
    font-size: 2rem;
    @media (--sptb) {
      font-size: 1.6rem;
    }
  }
  & i.fab {
    color: #000;
    font-size: 2.4rem;
    @media (--sptb) {
      font-size: 2rem;
    }
  }
  & a {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
  }
}
.contents__pagenation {
  width: calc(100% - 25.6%);
  padding-top: 2.4rem;
  padding-bottom: 30.4rem;
  border-top: 1px solid #707070;
  @media (--tb) {
    padding-bottom: 10.4rem;
  }
  @media (--sptb) {
    width: 100%;
  }
  @media (--sp) {
    display: none;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    @media (--sp) {
      display: block;
    }
  }
  & li {
    @media (--sp) {
      padding-bottom: 0.8rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  & a {
    display: flex;
    color: #000;
    font-size: 1.9rem;
    @media (--tb) {
      font-size: 1.6rem;
    }
    @media (--sp) {
      font-size: 1.4rem;
    }
  }
  & span {
    padding: 0 0.8rem;
  }
}
