.optical_bnr01 {
  background: url("../images/product-optical/optical_bnr01.jpg") no-repeat;
  background-position: 100% 60%;
  background-size: cover;
  @media (--tb) {
    background-position: 100% 68%;
  }
}
.optical_bnr02 {
  background: url("../images/product-optical/optical_bnr02.jpg") center
    no-repeat;
  background-position: 100% 35%;
  background-size: cover;
}

.optical__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
}

.optical__item {
  width: 25%;
  @media (--tb) {
    width: 50%;
  }
  @media (--sp) {
    width: 100%;
  }
}
