.product {
  overflow: hidden;
  & .svg__diamond,
  & .svg__sun,
  & .svg__thunder {
    & .a {
      fill: #000;
      @media (--sp) {
        fill: #000;
      }
    }
  }
  & .svg__sun {
    & .a {
      stroke: #000;
      stroke-width: 2px;
      @media (--sp) {
        stroke: #000;
        stroke-width: 4px;
      }
    }
  }
  & .svg__thunder {
    @media (--tb) {
      max-width: 23px;
    }
    @media (--sp) {
      max-width: 11px;
    }
    & .a {
      fill-rule: evenodd;
    }
  }
}

.product__header {
  display: flex;
  max-width: 1384px;
  margin: 0 auto;
  text-transform: uppercase;
  & li {
    position: relative;
    width: 33.333%;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
  }
  & a {
    display: block;
    padding: 2.4rem 0;
    color: #000;
    font-weight: 500;
    font-size: 4.2rem;
    line-height: 1.32;
    text-transform: uppercase;
    @media (--tb) {
      padding: 1.6rem 0;
      font-size: 2.8rem;
    }
    @media (--sp) {
      padding: 0.8rem 0;
      font-size: 1.4rem;
    }
    &:hover::after {
      width: 100%;
    }
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 1.6rem solid #aa0601;
      transition: 0.3s width;
      content: "";
      @media (--tb) {
        border-bottom: 0.8rem solid #aa0601;
      }
      @media (--sp) {
        border-bottom: 0.4rem solid #aa0601;
      }
    }
  }
  & a.active {
    &::after {
      width: 100%;
    }
  }
  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (--sp) {
      align-items: unset;
    }
    & svg {
      margin-right: 0.8rem;
      @media (--tb) {
        width: 32px;
        max-height: 32px;
      }
      @media (--sp) {
        max-width: 15px;
        max-height: 15px;
        margin-right: 0.5rem;
      }
    }
  }
}

.product__mv {
  display: flex;
  & li {
    width: 50%;
    height: 309px;
    margin-right: 3rem;
    @media (--sptb) {
      margin-right: 0;
    }
    @media (--sp) {
      height: 144px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.product__section {
  padding-top: 8.8rem;
  padding-bottom: 15.6rem;
  @media (--tb) {
    padding-top: 4rem;
    padding-bottom: 10.4rem;
  }
  @media (--sp) {
    padding-top: 3rem;
    padding-bottom: 5.6rem;
  }
}
.product__section__title {
  padding-bottom: 4rem;
  font-weight: 500;
  font-size: 4.2rem;
  line-height: 1.5;
  text-align: center;
  @media (--tb) {
    padding-bottom: 3.2rem;
    font-size: 3.2rem;
  }
  @media (--sp) {
    padding-bottom: 2rem;
    font-size: 2rem;
  }
  & span {
    display: block;
    font-weight: 400;
    font-size: 3.2rem;
    @media (--tb) {
      font-size: 2.4rem;
    }
    @media (--sp) {
      font-size: 1.6rem;
    }
  }
}

.product__item {
  padding: 0 1.5rem;
  padding-bottom: 10rem;
  @media (--tb) {
    padding-bottom: 7.2rem;
  }
  @media (--sp) {
    padding-bottom: 3.2rem;
  }
  & a {
    color: #000;
  }
  & img {
    width: 100%;
  }
}

.color {
  display: flex;
  margin: -0.4rem;
  @media (--sp) {
    margin: -0.2rem;
  }
  & li {
    margin: 0.4rem;
    padding: 1.2rem;
    border-radius: 4px;
    @media (--sp) {
      margin: 0.2rem;
      padding: 0.8rem;
    }
  }
}

.product__detail {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  & h2 {
    display: inline-block;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.5;
    @media (--sp) {
      font-size: 1.6rem;
    }
  }
  & span {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 2.4rem;
    @media (--sp) {
      font-size: 1.6rem;
    }
  }
}

.type01 {
  background: #5f3e2d;
}
.type02 {
  background: #b75929;
}
.pagenation {
  display: flex;
  max-width: 368px;
  margin: 0 auto;
  font-size: 1.8rem;
  @media (--sp) {
    max-width: 241px;
    font-size: 1.1rem;
  }
  & li {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    &:last-child {
      border-right: 1px solid #555;
    }
  }
  & a,
  & span {
    display: block;
    width: 100%;
    padding: 1rem 0;
    color: #000;
    text-align: center;
    @media (--sp) {
      padding: 0.8rem 0;
    }
  }
  & .selected {
    background: #000;
    & span {
      color: #fff;
    }
  }
  & .next,
  & .prev {
    flex-shrink: 0.9;
    font-size: 1.9rem;
    @media (--sp) {
      font-size: 1.2rem;
    }
  }
  & .next {
    background-color: #f2f2f2;
  }
}
